<!DOCTYPE html> 
</html lang="en"> 
<head>
    <meta charset="UTF.8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARRITO</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

</head>

<body class="body">
    <header class="menufijado">
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="./productos.html">PRODUCTOS</a></li>
                <li><a href="#">CARRITO</a></li>
                <li><a href="./envíos.html">ENVÍOS</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="títulos">MI CARRITO</h1>
    
    <div class="div-grid-container-carrito">
        <div class="">
            <img src="../img/victorias secret, lingerie, sexy lingerie….jpg" alt="">
        </div>
        <div class="item-grid">Producto</div>
        <div>Conjunto Victoria Secret</div>
        <div class="item-grid">Categoría</div>
         <div>Ropa Interior</div>
        <div class="item-grid">Cantidad</div>
        <div>+1</div>
        <div class="item-grid">Precio</div>
        <div>$25,000</div>
        <div class="item-grid">Sutotal</div>
        <div>$25,000</div>
        <div class="item-grid">Descuento</div>
        <div>Código</div>
        <div class="item-grid">Envío</div>
        <div>$6,000</div>
        <div class="item-grid">Total</div>
        <div>$31,OOO</div>
    </div>
        
    <div>
        <div><button class="eliminar">Eliminar</button></div>
        <div class="fila"><span>¿Tenés un descuento?</span></div>
        <!--ingresar una barra de comentrio o de código acá-->
        <div><button class="comprar">Iniciar compra</button></div>
        <div><button>-</button></div><span>1</span><button>+</button></div>
    </div>
         
    <footer class="blockfooter">
            <h2>REDES</h2>
            <a href="https://www.instagram.com/lacedreams_lenceria/">Tienda de Instagram</a> 
                <i class="fa-brands fa-instagram"></i>
                <h2>CONTACTO</h2>
                <p>341 753-1794</p>
            <h2>SUSCRIBETE</h2>
            <label for="Suscribe">Suscribirse</label>
            <input type="checkbox" name="Suscribe" id="Suscribe">
            <p>2025 - copyright</p>
            <!--Perdón profe, la verdad es que me confíe bastante con el tiempo y no pude
            darle las terminaciones como esperaba, además de que quedó muy diferente del 
            wireframe y no me dio la creatividad como para desarrollar más el CSS. Por eso voy a 
            estar atenta a la devolución para poder hacerlo mejor. Desde ya muchas gracias-->
    </footer>
</body>

</html>