<!DOCTYPE html> 
</html lang="en"> 
<head>
    <meta charset="UTF.8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envíos</title> 
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

</head>

<body class="body">
     <header class="menufijado">
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="./productos.html">PRODUCTOS</a></li>
                <li><a href="./carrito.html">CARRITO</a></li>
                <li><a href="#">ENVÍOS</a></li>
            </ul>      
    </nav>
</header>

<section class="enviosbox">
    <h1 class="títulos">ENVÍOS</h1>
    <ul> 
        <li class="a">Elegí la prenda que más te guste.</li>
        <li class="b">Selecciona la prenda, elige el color, cantidad y talle correspondiente.</li>
        <li class="c">Aprete el botón "Agregar al carrito", puede seleccionar varios productos y luego desenmarcarlos si no le convence.</li>
        <li class="d">Tenemos varios métodos de pago para que elijas:</li>
        <li class="e">Confirmá y listo!!</li>
        <li class="f">Ya está en camino!! Puede demorar de 5-7 días dependiendo de su código postal, gracias al Código de seguimiento puede ver la ubicación de su paquete en tiempo real.
        <li class="g">También puede venir a retirar, nos avisas cuando realizas la compra y te estaremos esperando por Riccheri 2559, VGG, Santa Fe, de Lunes a Viernes de 13 a 17hs.</li>
        </li>
    </ul>
</section>

    <form action="/submit" method="post"> 
        <label for="Nombre">Nombre:</label>
        <input type="text" class="violet">
        <label for="password">Contraseña:</label>
        <input type="password" class="pink">
        <label for="mensaje">Mensaje:</label>
        <textarea name="Mensaje" class="violet"></textarea>
        <label type="genero">Género</label>
        <input type="genero" class="pink">
        <label for="Hombre">Hombre</label>
        <input type="radio" name="" id="">
        <label for="Mujer">Mujer</label>
        <input type="radio">
        <label for="Prefiero no decirlo">Prefiero no decirlo</label>
        <label for="país">País</label>
        
        <select>
            <option>Brasil</option>
            <option>Argentina</option>
            <option>Uruguay</option>
        </select>
        <input type="submit" value="Enviar">
    </form>
    
    <main>
    

    </main>

    <footer class="blockfooter">
            <h2>REDES</h2>
            <a href="https://www.instagram.com/lacedreams_lenceria/">Tienda De Instagram</a> 
                <i class="fa-brands fa-instagram"></i>
                <h2>CONTACTO</h2>
                <p>341 753-1794</p>
            <h2>SUSCRIBETE</h2>
            <label for="Suscribe">Suscribirse</label>
            <input type="checkbox" name="Suscribe" id="Suscribe">
            <p>2025 - copyright</p>
    </footer>
</body>
</html>