<!DOCTYPE html>
</html lang="en"> 
<head>
    <meta charset="UTF.8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="títulos">Productos</title> 
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="menufijado">
        <nav class="navbar">
           <ul>
            <li>
                <a href="../index.html">INICIO</a>
            </li>
            <li>
                <a href="./nosotros.html">NOSOTROS</a>
            </li>
            <li>
                <a href="#">PRODUCTOS</a>
            </li>
            <li>
                <a href="./carrito.html">CARRITO</a>
            </li>
            <li>
                <a href="./envíos.html">ENVÍOS</a>
            </li>
           </ul>
        </nav>
    </header>

<h1 class="títulos">PRODUCTOS</h1>

<section class="conjuntos-lenceria-one">
    <article>
        <h2>Conjunto Lingerie</h2>
       <img src="../img/Conjunto Lingerie.jpg" alt="lingerie" class="img-store">
    </article>
    <article>
       <h2>Conjunto Victoria Secret</h2>
       <img src="../img/victorias secret, lingerie, sexy lingerie….jpg" alt="victoria secret" class="img-store">
    </article>
    <article>
        <h2>Conjunto Versace</h2>
        <img src="../img/912f8495-9682-4eba-91e5-158c15bc7798.jpg" alt="versace" class="img-store">
    </article>
    <article>
        <h2>Conjunto Lisa Charmel</h2>
        <img src="../img/Transparence Désir by Lise Charmel.jpg" alt="lisa charmel" class="img-store">
    </article>
    <article>
        <h2>Conjunto Tommy Hilfiger</h2>
        <img src="../img/4465e788-b7bf-4052-afc4-2655e91312a6.jpg" alt="tommy hilfiger" class="img-store">
    </article>
    <article>
        <h2>Conjunto Maison Close</h2>
        <img src="../img/4ed61cb3-88c3-4def-995e-a89ece38aded.jpg" alt="maison close" class="img-store">
    </article>
</section>
 
 <h1 class="títulos">¿Qué estás buscando?</h1>

 <main class="container-main-productos">
    <section class="caja">
        <h2>Ropa Interior</h2>
        <img src="../img/¡Adiós a las tallas!, estas marcas confeccionan lencería a tu medida.jpg"">
    </section>
    <section class="caja">
        <h2>Pijamas</h2>
        <img src="../img/Ladies' 3pcs_Set Colorblock Lace Patchwork Sleepwear Set Pajama Set.jpg" alt="">
    </section>
    <section class="caja">
        <h2>Trajes de baño</h2>
        <img src="../img/descarga (7).jpg" alt="">
    </section>
    <section class="caja">
        <h2>Ropa deportiva</h2>
        <img src="../img/descarga (8).jpg" alt="">
    </section>
</main>    
<footer class="blockfooter">
            <h2>REDES</h2>
            <a href="https://www.instagram.com/lacedreams_lenceria/">Tienda de Instragram</a> 
                <i class="fa-brands fa-instagram"></i>
                <h2>CONTACTO</h2>
                <p>341 753-1794</p>
            <h2>SUSCRIBETE</h2>
            <label for="Suscribe">Suscribirse</label>
            <input type="checkbox" name="Suscribe" id="Suscribe">
            <p>2025 - Todos los derechos reservados</p>
    </footer>

</body>
</html>