<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pijamas</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="menufijado">
        <nav class="navbar">
           <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="./nosotros.html">NOSOTROS</a></li>
            <li><a href="./productos">PRODUCTOS</a></li>
            <li><a href="./carrito.html">CARRITO</a></li>
            <li><a href="./envíos.html">ENVÍOS</a></li>
           </ul>
        </nav>
    </header>
    
    <h1 class="títulos">PIJAMAS</h1>
    
</body>
</html>