$colorPrimario: white;
$colorSecundario: rgb(242, 164, 217);
$colorTerciario: lightpink;
$colorCuarto: black;
$coloQuinto: rgb(205, 87, 214);
$alturaCaja: 500px;
$anchoCaja: 320px;
$pantalla: 100%;
$fijado: position sticky;
$fuenteUsada: "Playfair Display", serif;
$segundaFuente: Georgia, 'Times New Roman', Times, serif;

