
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');






     








@media (min-width: 481px) {
    .navbar, .container-main-productos, .container-index, .div-grid-container-carrito {
        flex-direction: row;
        justify-content: space-between;
    }

    .div img {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .body {
        display: flex;
        font-size: 16px;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        }

        .menu-icon {
            display: block;
            color: white;
        }

        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 20px;
            background: #333;
            padding: 10px;
            border-radius: 8px;
        }

        .menu-hamburguesa:checked
        .menu-icon+.nav-links {
            display: block;
        }
        
        .container-index{
            display: flex;
            flex-direction: column;
        }

        .sidebar {
            display: none;
        }

        

        .container-main-productos {
            display: flex;
            flex-direction: column;
        }

        .div-grid-container-carrito {
            display: flex;
            flex-direction: column;
        }

        .div img {
            width: 100%;
            height: auto;
        }
    }

select {
    color: darkorchid;
}

option {
    color: fuchsia;
}

option:checked {
    color: blueviolet;
}

.pink:focus {
    color: pink;
}

.violet:focus {
    color: violet;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}
/*
header h1 {
    grid-area: "titulo";
    justify-items: center;
    align-items: center;
}
acá voy a darle estilos a mi buscador de productos*/




